:root {
  font-family: 'Montserrat';
  line-height: 1.5;
  font-weight: 400;

  --primary-green: #5fbb63;
  --dark-green: #5b795b;
  --black-green: #283228;
  --white-green: #f2fff3;
  --light-green: #c8e6c9;
  --white: #f5f5f5;
  --primary-gray: #b9b9b9;
  --dark-gray: #565656;
  --light-gray: #d3d3d3;
  --primary-brown: #795548;
  --dark-brown: #4f382f;
  --light-brown: #d7ccc8;

  color-scheme: light dark;
  background-color: var(--white);
  color: var(--dark-gray);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
}

@media (prefers-color-scheme: light) {
  :root {
  }
}
